@import "tailwindcss";

:root {
  --color-bg: #f4f7fb;
  --color-panel: #ffffff;
  --color-text: #0f172a;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter), sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.custom-map-marker {
  background: transparent;
  border: 0;
}
